* {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-item {
    display: flex;
    gap: 20px;
    list-style: none;

}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav-btn {
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;

}

.btn-1 {
    color: green;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 10px;
}

.btn-2 {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.btn-3 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.Banner {
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-bottom: 50px;
}

.banner {
    width: 50%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}

#notes {

    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.notes-1 {
    text-align: center;
    margin-bottom: 50px;
}

.notes {
    display: flex;
    gap: 20px;
}

.notes_ {
    box-shadow: 4px 4px 8px 8px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.notes_img {
    background-color: red;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.Brain {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;

}

.brain_ {
    padding-top: 100px;
    width: 500px;
}

#Think {
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 50px;
}

.think {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
}

.footer {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.footer i {
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.btn_:hover {
    font-weight: bold;
}